.header {
    min-height: 142px;
    width: 100%;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 13px;
    z-index: 20;
    background-color: #fff;
    top: 0;
    &__logo {
        margin: 0 auto;
        display: block;
        max-width: 512px;
        width: 100%;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.header-menu {
    &__list {
        align-content: center;
        margin: 0 auto;
        display: flex;
        padding-top: 30px;
        padding-left: 15px;
        background-color: #fff;
        padding-left: 72px;
    }
    &__item:not(:last-child) {
        margin-right: 70px;
    }
    &__link {
        transition: all .3s;
        &:hover {
            opacity: .5;
        }
    }
    &__language {
        display: flex;
        margin-top: 29px;
        padding-right: 21px;
        text-transform: uppercase;
    }
    &__language-item:not(:last-child) {
        margin-right: 15px;
    }
    &__language-item {
        font-size: 16px;
        line-height: 24px;
        transition: all .3s;
    }
    &__language-item.active {
        opacity: .5;
    }
    &__submenu-list {
        width: 100%;
        position: absolute;
        top: 142px;
        left: 0;
    }
    &__submenu-inner {
        width: 100%;
        border-bottom: 2px solid #000;
        padding: 17px 0 15px;
        width: 100%;
        display: flex;
        background-color: #fff;
        justify-content: center;
    }
}

.submenu {
    display: none;
}