.banner {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__box {
        padding: 20px 0;
    }
    &__subtitle {
        transition: all .3s;
        &:hover {
            opacity: .5;
        }
    }
    &__imgs {
        max-width: 710px;
        width: 100%;
        max-height: 660px;
    }
    &__img {
        max-width: 100%;
    }
}