.news {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__box {}
    &__subheading {
        margin-top: 5px;
    }
    &__title {
        margin-top: 5px;
    }
    &__item {
        max-width: 25%;
    }
    &__nav {
        width: 25%;
        padding-top: 55px;
        margin-top: 20px;
    }
    &__nav-subtitle {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__nav-title {
        line-height: 60px;
        font-size: 60px;
    }
    &__nav-full {
        display: block;
        margin-top: 150px;
        font-size: 16px;
        line-height: 24px;
        transition: all .3s;
        &:hover {
            opacity: .5;
        }
    }
}